<body style="background-color:hotpink;">
    <div id = "won" *ngIf = "getBoard().checkWinCondition()">
        <h4>Congrats on the win!</h4>
    </div>
    <div id = "lost" *ngIf = "getBoard().checkLossCondition() && !getBoard().checkWinCondition()">
        <h4>Oops! You lost!</h4>
    </div>
    <div id = "information">
        <div class = "info" id = "pauseButton">
            <button (click) = "togglePause()">
                <img class = "button" *ngIf = "this.getPaused()" src = "../../assets/play.png">
                <img class = "button" *ngIf = "!this.getPaused()" src = "../../assets/pause.png">
            </button>
        </div>
        <div class = "info" id = "timer">
            <span id = "time">Time: {{getTimer().getTime()}}</span>
        </div>
        <div class = "info" id = "flagCount">
            <span id = "flags">Flags Left: {{getBoard().getFlagCount().getFlagsLeft()}}</span>
        </div>
    </div>
</body>