.button {
    width: 75px;
    height: 75px;
}

#information {
    display: flex;
}

button {
    background-color: aqua;
}

body {
    background-color: hotpink;
}

.info {
    margin-right: 75px;
    margin-left: 75px;
}