<body>
    <div id = "information">
        <div class = "info" id = "pauseButton">
            <button id = "button" (click) = "togglePause()">
                <img class = "button" *ngIf = "this.getPaused()" src = "./assets/play.png">
                <img class = "button" *ngIf = "!this.getPaused()" src = "./assets/pause.png">
            </button>
        </div>
        <div class = "info" id = "timer">
            <span id = "time">Time: {{getTimer().getTime()}} second</span><span *ngIf = "!(getTimer().getTimeCoeff())">s</span>
        </div>
        <div class = "info" id = "flagCount">
            <span id = "flags">Flags Left: {{getBoard().getFlagCount().getFlagsLeft()}} flag</span><span *ngIf = "getBoard().getFlagCount().getFlagsLeft() != 1">s</span>
        </div>
    </div>
</body>