span { /*general text settings*/
    color: forestgreen;
    font-weight: bold;
    font-size: 20px;
}

li {
    margin: 2.5px 0px;
}
.subList {
    padding-bottom: 5px;
}

#intro, #controls, #input {
    background-color: bisque;
}

p, #padding-input {
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#panel, #functions {
    width: 575px;
}

#panel {
    float: right;
    position: absolute;
    left: 650px;
    top: 62px;
}

#page {
    background-color: cornflowerblue;
}

#submit {
    background-color: dodgerblue;
    border: 1px darkcyan;
    color: ivory;
    margin: 5px;
    font-family: "Papyrus", fantasy;
    padding: 10px 21px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-radius: 5px;
    
    position: absolute;
    left: +850px;
    top: +310px;
}
#submit:hover {
    background-color: indigo;
    font-family: "Brush Script MT", cursive;
    color: fuchsia;
    font-size: 40px;
    border-radius: 10px;
}



/*INPUT RANGE STYLING, CREDIT TO https://www.cssportal.com/style-input-range/*/
input[type=range] {
    height: 26px;
    -webkit-appearance: none;
    margin: 10px 0;
    background-color: transparent;
    width: 40%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #50555C;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-fill-upper {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #50555C;
}
input[type=range]:focus::-ms-fill-upper {
    background: #50555C;
}