button {
    background-color: aqua;
}
button:hover {
    background-color: khaki;
}

.button {
    width: 45px;
    height: 45px;
    padding: 2.5px;
}

.infoText {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslategrey;
}

#next {
    color: rebeccapurple;
    font-family: Georgia, 'Times New Roman', Times, serif;
}